{% extends 'template.html' %}


{% block title %}
Picture Album
{% endblock %}

{% block content %}
{% include 'header.html' %}


    <div class="container">
        {% if pictures_dict %}
          {% for category in categories%}
            <h1>{{category}}</h1>
            <div class="row row-cols-1 row-cols-md-4">  
              {% for picture in  pictures_dict[category]%}
                <div class="col mb-3">
                  <div class="card" style="height: 100%;">
                    <img src="{{picture['thumbnail_path']}}" class="card-img-top img_style" alt="...">
                    
                    <div class="card-body">
                      <h5 class="card-title">{{picture["name"]}}</h5>
                      <a href="/view/{{picture['name']}}" class="stretched-link"></a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        {% endif %}
    </div>
{% endblock %}
